$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
$primary-color: rgb(98, 178, 223);
$softhighlight: rgb(169, 203, 212);
$highlight: rgb(241, 252, 255);
$font-stack:    Helvetica, sans-serif;

body {
  font-size: 20px;
  color: $primary-color;
  background-color: black;
  padding: 20px;
}

.grid {
  .row {
    .cell{
        border: 1px solid white;
        margin: 3px;
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 5px;
    }
  }
}

.controls {
  border: 1px solid white;
  border-radius: 20px;
  display: inline-block;
  i {
    padding: 20px;
    margin-right: 15px;
    font-size: 30px;
    &:hover {
      color: $softhighlight
    }
  }

}

.selected {
  background-color: $highlight
}

.accent {
  background-color: $softhighlight
}
